html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.div {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJHnYPirBEP7DgoGwAEi-mKyMe7hA0oKbjrA&usqp=CAU);
}

img:hover {
  transform: scale(1.5);
}
